#one{
	background: #000;
	color: #ddd;
	padding: 1% 1% 1%;
}
.one{
	background: #ddd;
	color: #33F3FF ;
	padding: 1%;
	text-align: center;
}
.parent{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}
.child{
	width: 25%;
	border: 1px solid #ddd;
	padding: 1%;
	margin: 1%;
	text-align: center;
	box-shadow: 0px 8px 8px -8px #000;
	border-radius: 10px 0px;
	height: 350px;
}
.role{
	color: #868892;
	font-style: italic;
}
/*.center{
	margin: 0% auto;
	width: 30%;
	border: 1px dashed #ddd;
	padding: 1%;
}*/
.profile{
	width: 40%;
	border: 1px solid #ddd;
	border-radius: 50px;
}
.link{
	margin: 1%;
	text-decoration: none;
	font-size: 18px;
	color: #5062b4;
}
.info{
	width: 5%;
}
.contact{
	text-align: left;
}
.social{
	width: 7%;
	align-items: center;
}

.child2{
	width: 60%;
	margin: 1%;
	padding: 1%;
	border: 1px solid #ddd;
	box-shadow: 0px 8px 8px -8px #000;
}

ul li{
	font-size: 18px;
}
ul{
	list-style-type: disc;
}
ol{
	list-style-type: 1;
}

table{
	width: 100%;
}
thead{
	background: #000;
	color: #fff;
	padding: 1%;
}

tbody tr:nth-child(even){
	background: #ddd;
}
.table-responsive{
	overflow-x: flex;
}
.child2 span{
	border-radius: 10px;
	border:1px solid #5d6d7e;
	background: #ddd;
	padding: 1%;
	margin: 1%;
	box-shadow: 0px 8px 8px -8px #000;
}



/* Small Scale Devices*/
@media only screen and (min-width: 320px) and (max-width: 480px){
	.child{
	width: 90%;
	border: 1px solid #ddd;
	padding: 1%;
	margin: 1%;
	text-align: center;
	box-shadow: 0px 8px 8px -8px #000;
	border-radius: 10px 0px;
}

/* Medium Scale Devices*/
@media only screen and (min-width: 481px) and (max-width: 768px){
	.child{
	width: 90%;
	border: 1px solid #ddd;
	padding: 1%;
	margin: 1%;
	text-align: center;
	box-shadow: 0px 8px 8px -8px #000;
	border-radius: 10px 0px;
}
